version: '3.0'
services:

  semanticbus:
    build:
      context: .
      dockerfile: ./main/Dockerfile
    container_name: semanticbus
    image: debian/latest
    environment:
        - APP_PORT=80
        - NODE_ENV=development_docker
        - CONFIG_URL=https://data-players.github.io/StrongBox/public/test-docker.json
    networks:
      - back
    ports:
      - "80:80"
    expose:
      - "80"
    links:
        - mongodb
        - rabbitmq
    depends_on:
        - mongodb
        - rabbitmq
    command: ["/data/scripts/wait-for-it.sh", "rabbitmq:5672", "-t", "25", "--", "npm", "run", "start"]

  rabbitmq:
    image: semanticbus/rabbitmq-stomp
    container_name: rabbitmq
    ports:
      - 5672:5672
      - 15674:15674
      - 15672:15672
    networks:
      - back

  mongodb:
    image: mongo:4.0.6
    restart: always
    networks:
      - back
    ports:
      - "27017:27017"
    expose:
      - "27017"
    volumes:
      - data:/data/db
    command: --smallfiles

  e2e:
    container_name: e2e
    tty: true
    depends_on:
        - seleniume2e
        - semanticbus
    image: codeception/codeceptjs
    build:
        context: ./tests/e2e
    environment:
        # configure selenium host
        - SELENIUM_HOST=seleniume2e
        - SELENIUM_PORT=4444
        - APP_URL=http://semanticbus
        # configure app to test
    volumes:
        - ./tests/e2e:/tests:ro
        - ./tests/logs:/tmp/output:rw
    networks:
      - back
      - selenium-grid

  seleniume2e:
    container_name: seleniume2e
    image: selenium/standalone-chrome
    ports:
      - '4444:4444'
      - '5900:5900'
    networks:
      - back
      - selenium-grid

volumes:
  data:

networks:
  back:
  selenium-grid:
