version: '3.0'
services:

  engine:
    build:
      context: .
      dockerfile: ./engine/Dockerfile
    container_name: engine
    image: semanticbus/engine
    environment:
        - APP_PORT=90
        - NODE_ENV=production
        - CONFIG_URL=$CONFIG_URL
    volumes:
      - ./engine:/data/engine/
      - ./core:/data/core/
    networks:
      - back
    ports:
      - "90:90"
    expose:
      - "90"
    links:
        - mongodb
        - rabbitmq
    depends_on:
        - mongodb
        - rabbitmq
    command: ["/data/scripts/wait-for-it.sh", "rabbitmq:5672", "-t", "25", "--", "nodemon", "-L", "--watch", "/data/engine/*", "--watch", "/data/core/*",  "--ignore", "configuration.js",   "/data/engine/app.js"]

  main:
    build:
      context: .
      dockerfile: ./main/Dockerfile
    container_name: main
    image: semanticbus/main
    environment:
        - APP_PORT=80
        - NODE_ENV=production
        - CONFIG_URL=$CONFIG_URL
    volumes:
      - ./main:/data/main/
      - ./core:/data/core/
    networks:
      - back
    ports:
      - "80:80"
    expose:
      - "80"
    links:
        - mongodb
        - rabbitmq
    depends_on:
        - mongodb
        - rabbitmq
    command: ["/data/scripts/wait-for-it.sh", "rabbitmq:5672", "-t", "25", "--", "nodemon", "-L", "--watch", "/data/main/*",  "--watch", "/data/core/*",  "--ignore", "configuration.js",  "/data/main/app.js"]

  rabbitmq:
    image: semanticbus/rabbitmq-stomp
    container_name: rabbitmq
    ports:
      - 5672:5672
      - 15674:15674
      - 15672:15672
    networks:
      - back

  mongodb:
    image: mongo
    restart: always
    networks:
      - back
    ports:
      - "27017:27017"
    expose:
      - "27017"
    volumes:
      - data:/data/db
    command: --smallfiles

volumes:
  data:

networks:
  back:
