version: '3.0'
services:

  rabbitmq:
    image: semanticbus/rabbitmq-stomp
    container_name: rabbitmq
    ports:
      - 5672:5672
      - 15674:15674
      - 15672:15672
    networks:
      - back

  mongodb:
    image: mongo:4.0.6
    restart: always
    networks:
      - back
    ports:
      - "27017:27017"
    expose:
      - "27017"
    volumes:
      - data:/data/db
    command: --smallfiles

volumes:
  data:

networks:
  back:
