  version: 2

  references:
    build_e2e: &build_e2e
      run:
        name: Start container and verify it is working
        command: |
          make test-build
          # docker run --network container:semanticbus  appropriate/curl --retry 10 --retry-delay 1 --retry-connrefused http://localhost
    
    run_e2e: &run_e2e
      run:
        name: Run e2e
        command: make test-start

    e2e: &e2e
      machine: true
      steps:
        - checkout:
            path: ~/project
        - *build_e2e
        - *run_e2e
    
  jobs:
    e2e:
      working_directory: ~/project/
      branches:
        ignore: 
          - production
          - master
      <<: *e2e

    # deployement
    deploy:
      machine:
        enabled: true
        docker_layer_caching: true    # default - false
      branches:
          only: production
      steps:
        - run:
            name: Deploy Over SSH
            command: |
              echo 'deploying master branch'
              ssh ubuntu@51.68.86.92 "cd ~/prod/production/ && bash ./deploy.sh"

  workflows:
    version: 2
    
    test:
      jobs:
        - e2e
        
    
    deploy:
      jobs:
        - deploy
