.noBorder
{
  border-style: none;
}

.containerH/*container horizontal*/
{
  display: flex;
  align-items : stretch;
  overflow: hidden;
}
.containerU{/*menu + bouton vertical sans scroll*/
  display: flex;
  flex-direction: column;
  align-items : stretch;
  flex-wrap: wrap;
}

.containerV /*container vertical*/
{
  display: flex;
  flex-direction: column;
  align-items : stretch;
  overflow-x: hidden;
}
.containerV>.containerH
{
  /*flex-shrink : 0;*/
  /*flex-basis:100%;*/
}
.scrollable
{
  overflow-y: scroll;
  overflow-x: auto;
  height: 650px;
}

.containerV>.containerV
{
  flex-grow: 1;
  flex-shrink : 1;
  /*flex-basis:100%;*/
}
