.containerH>*{
  /* border-style: solid;
  border-width: 1px;
  border-radius:5px;
  padding: 5px;
  margin: 5px; */
}

.noBorder{
  border-style: none;
}

.containerH{
  display: flex;
  justify-content: center;
  /*flex-wrap: wrap;*/
  align-items : stretch;
  overflow: hidden;
}



.containerV
{
  display: flex;
  flex-direction: column;
  /*overflow: hidden;*/
  /*min-height:auto;*/
}
.containerV>.containerH
{
  /*flex-shrink : 0;*/
  /*flex-basis:100%;*/
}
.scrollable
{
  overflow-y: scroll;
  /*height: 0px;*/
}

.containerV>.containerV
{
  flex-grow: 1;
  flex-shrink : 1;
  /*flex-basis:100%;*/
}
