.containerH>*{
  /* border-style: solid;
  border-width: 1px;
  border-radius:5px;
  padding: 5px;
  margin: 5px; */
}

.noBorder{
  border-style: none;
}

.containerH{
  display: flex;
  justify-content: center;
  /*flex-wrap: wrap;*/
  align-items : stretch;
  overflow-y: hidden;
}



.containerV
{
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.containerV>*
{
  flex-shrink : 0;
}
.containerV-scrollale
{
  overflow-y: auto;
  height: 0px;
}

.flex-basis {
  display: flex;
  flex-basis:100%;
}


.containerV>.containerV
{
  flex-grow: 1;
  flex-shrink : 1;
}
