a{
  text-decoration: none;
  color: white;
}
a:active{
  text-decoration: none;
  color: white;
}

a:visited{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: none;
  color: white;
}

input[type="text"] {
  box-sizing: border-box;
}

input.readOnly {
    border: none;
}

body{
  font-size: 1.2em;
}

input {
  /*color: rgb(220,220,220);*/
  padding-left:10pt;
  /*height: 38px;*/
  border-radius: 20pt;
  border-width: 0;
  font-size: 1em
}

*:focus{
  outline:none!important;
}

.champ {
  color: rgb(220,220,220);
  width: 50vw;
  height: 38px;
  border-radius: 20pt;
  border-width: 0;
  font-size: 1em
}

.commandBar{
  justify-content: space-between;
  padding: 2px;
  flex-shrink:0;
}
/*
button:focus {
  outline:none!important;
}*/
/*
input:focus {
  outline:none!important;
}*/

.header {height: 90pt;
/* text-align: center; */
display: flex;
flex-direction:column;
justify-content: center;
background: linear-gradient(90deg, rgb(33,150,243) 20% ,rgb(41,181,237));
color:white
}

.main-title {
  font-size:25pt
}


.headerComponent {height: 15%;
  /* text-align: center; */
  display: flex;
  flex-direction:column;
  justify-content: center;
  background-color: rgb(33,150,243);
  color:white
}

.tagSelected {
  border: 3px solid rgb(9,245,185)!important;
  background-color: rgb(9,245,185);
  color:white;
}

.selected {
  cursor:pointer;
  border: 3px solid rgb(33,150,243)!important;
}

.zentableWorkspace{
  padding: 10pt;
  align-items:stretch;
  background-color: rgb(240,240,240)
}

.zentableUser{
  padding: 10pt;
  align-items:stretch;
}

.buttonBus {
  margin-left: -1px;
  height: 38px;
  padding-left: 19pt;
  border-radius: 15pt;
  border: 3px solid white;
  color: white;
  padding-right: 19pt;
  cursor: pointer;
  padding-top: 5px;
}

.buttonBus:target {
  margin-left: -1px;
  height: 38px;
  padding-left: 19pt;
  border-radius: 15pt;
  border: 3px solid white;
  color: white;
  padding-right: 19pt;
  cursor: pointer;
  opacity:0.3
}

.commandGroup{
  padding: 0px;
}
.commandButton{
  margin-left: 5pt;
  padding-left:10px;
  padding-right:10px;
  padding-top:2px;
  padding-bottom:2px;
  cursor: pointer;
  align-self: flex-end;
  border: 3px solid rgb(240,240,240);
  color: rgb(210,210,210);
  border-radius: 20px;
}

.commandButton:hover{
  /*color:#1a1a1a;*/
  border: 3px solid rgb(9,245,185)!important;
  background-color: rgb(9,245,185);
  color:white;
}

.commandButtonImage{
  cursor: pointer;
  /* align-self: flex-end; */
  justify-content: center;
  align-items: center;
  /*display: flex;
  flex: 0.05;
  opacity: 1;*/
}
.commandButtonImage:focus{
  outline:none!important;
  /*opacity: 0.3;*/
}


.commandButtonImage:hover{

}

.selector{
  border-style: none;
  cursor: pointer;
  margin:5px;
  padding-left:10px;
  padding-right:10px;
  padding-top:2px;
  padding-bottom:2px;
  background-color: #cce2ff;
}

.mainSelector{
  font-size: 30px;
  text-align: center;
  /*flex-basis:35px;*/
}
