input[type="text"] {
  font-size: 1.5em;
  width:100%;
  box-sizing: border-box;
}

input.readOnly {
    border: none;
}

body{
  font-size: 1.2em;
}

.commandBar{
  justify-content: space-between;
  padding: 2px;
  overflow-y :visible;
  color: #3883fa;

}


.commandBar>*{
  border-style: none;
  margin:0px;

}
.commandGroup{
  padding: 0px;
}
.commandButton{
  padding-left:10px;
  padding-right:10px;
  padding-top:2px;
  padding-bottom:2px;
  cursor: pointer;
  align-self: flex-end;
  border-color: #3883fa;
  background-color: white;
}

.commandButton:hover{
  /*color:#1a1a1a;*/
  background-color:#649DF9;
  border-color: #cce2ff;
}

.commandButtonImage{
  cursor: pointer;
  align-self: flex-end;
  background-color: white;
  border-style: none;
  padding: 0px;
  margin: 2px;
}

.commandButtonImage:hover{
  background-color:#649DF9;
}

.selector{
  border-style: none;
  cursor: pointer;
  margin:5px;
  padding-left:10px;
  padding-right:10px;
  padding-top:2px;
  padding-bottom:2px;
  background-color: #cce2ff;
}

.mainSelector{
  font-size: 30px;
  text-align: center;
  /*flex-basis:35px;*/
}
