.noBorder
{
  border-style: none;
}

.containerH/*container horizontal*/
{
  display: flex;
  align-items : stretch;
  overflow: hidden;
}

.containerV /*container vertical*/
{
  display: flex;
  flex-direction: column;
  align-items : stretch;
  overflow-x: hidden;
}
.containerV>.containerH
{
  color: rgb(141,141,141);
  flex-shrink : 0;
  /*flex-basis:100%;*/
}
.scrollable
{
  overflow-y: scroll;
  overflow-x: auto;
  height: 650px;
}

.containerV>.containerV
{
  flex-grow: 1;
  flex-shrink : 1;
  /*flex-basis:100%;*/
}
.box-flex {
  background-color: white;
  margin: 20px;
  padding: 2vh;
}

.tab {
  overflow: hidden;
  border-bottom: 1px solid #D5DAE0;
  border-top: 1px solid #eef2f9;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}