/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

input {
  background-color: #ffffff;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(213, 218, 224);
  padding: 10px;
}

input:focus {
  background-color: #f2f3f5;
  color: black;
}

input[type="text"] {
  box-sizing: border-box;
}

input.readOnly {
    border: none;
}

*:focus{
  outline:none!important;
}

/* .champ {
  color: rgb(220,220,220);
  width: 50vw;
  height: 38px;
  border-radius: 20pt;
  border-width: 0;
  font-size: 1em
} */

.Search {
  flex-direction: column;
	align-items: stretch;
  border-radius: 10px;
}

/*Bouton Ajout*/
.commandButtonImage {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: grey;
}

.commandButtonImage:focus {
  outline: none !important;
  /*opacity: 0.3;*/
}

.commandButtonImage:hover {}
