a {
  text-decoration: none;
  color: white;
}

.button-profil {
    border-radius: 3px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(26, 145, 194);
    color: white;
    font-size: 20px;
    text-align: center;
    cursor:pointer;
    border: none;
}
.btnAddSize {
  height: 40px;
  width: 40px;
}
.button-graph {
  border-radius: 50%;
  padding: 10px;
  background-color: rgb(26, 145, 194);
  color: white;
  font-size: 14px;
  text-align: center;
  cursor:pointer;
}

a:active {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

body {
  /*font-size: 1.2em;*/
}

/* header table*/
.table-title {
  color: white;
  text-transform: capitalize;
  flex-shrink: 0;
  background-color: rgb(26, 145, 194);
}

.labelFormStandard {
  font-size: 0.75em;
  text-transform: uppercase;
}
.inputStandard {  
  border: rgb(212,212,212) 1px solid;
  padding: 8px;
  color: rgb(161,161,161);
  width: 50%;
  font-size: 1em;
  border-radius: 2px;
}
.inputComponents {  
  height: 5vh;
  border: rgb(212,212,212) 1px solid;
  padding: 8px;
  color: rgb(161,161,161);
  width: 50%;
  font-size: 1em;
  border-radius: 2px;
}
::placeholder{
  color: rgb(200,200,200);
  font-style: italic;
  opacity: 1; /* Firefox */
}


.header-login {
  height: 80px;
  font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  align-items: center;
}

.header {
  background: rgb(26, 145, 194);
  height: 80px;
  color: white;
  font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  align-items: center;
}

/*titres d'en-tete*/
.main-title {
  font-size: 35px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.title-header {
  justify-content: center;
  text-align: center;
  padding-top: 5px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 10px;
  width: 120px;
}
.cardParameter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 9vh;
  margin-left: 1vw;
}
/*titre composant*/
.title-space {
  font-weight: bold;
  justify-content: center;
  text-align: center;
  padding-top: 5px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: rgb(141,141,141);
  font-size: 15px;
}
.textArea {
  color: rgb(26,145,194);
  padding: 3vh;
  border-radius: 10px;
  border: 1px solid rgb(26,145,194);
  height: 25vh;
  width: 90%;
  margin-left: 1vh;
}
.cardInput {
  margin-left: 1vh;
  margin-bottom: 1vh;
  
}
/*titre composant*/
.title-component {
  font-weight: 400;
  font-family: sans-serif;
}
.title-description-component {
  font-weight: 200;
  font-family: sans-serif;
}
.subtitle {
  padding: 2vh;
}
.bar {
  width: 100%;
  height: 1px;
  background-color: rgb(213,218,224);
  margin: 10px 0px 10px 0px;
}
/*menu selectionné*/
.tagSelected {
  color:  rgb(41, 177, 238) !important;
}
/*Bouton*/
.commandButton {
  cursor: pointer;
  align-self: center;
  color: grey;
  font-size: 10px
}

.commandButton:hover {
  color: rgb(41, 177, 238);
}
/*Menu selectionné*/
.selected {
  cursor: pointer;
  border: 3px solid rgb(33, 150, 243) !important;
}

/*triangle Up*/
.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(238, 242, 249);
}

/*triangle left*/
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgb(238, 242, 249);
}

.buttonBus {
  margin-left: -1px;
  height: 38px;
  padding-left: 19pt;
  border-radius: 15pt;
  border: 3px solid white;
  color: white;
  padding-right: 19pt;
  cursor: pointer;
  padding-top: 5px;
}

.buttonBus:target {
  margin-left: -1px;
  height: 38pt;
  padding-left: 19pt;
  border-radius: 15pt;
  border: 3px solid white;
  color: white;
  padding-right: 19pt;
  cursor: pointer;
  opacity: 0.3
}

/*.commandGroup {
  padding: 0px;
  justify-content: center;
}*/


.selector {
  border-style: none;
  cursor: pointer;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #cce2ff;
}

.mainSelector {
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  /*flex-basis:35px;*/
}

/*Nom des champs*/
label {
  margin-top: 10px;
  margin-bottom: 5px;
  color:rgb(141,141,141);
}

/*lien ext.*/
.url {
  color: rgb(37, 167, 239);
  cursor: pointer;
}

.url:hover {
  color: #3594D2;
}

/*Bouton formulaire*/
.btn {
  cursor: pointer;
}

.box {
  width: 90%;
  flex-wrap: wrap;
  background-color: white;
  padding: 2%;
  justify-content: center;
  flex-grow: 0.5;
}
.mainContainerListGraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
}